<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Final Results
    </h2>
    <table border="1">
        {% for key, values in results.items() %}
        <tr>
            {# This is comment Section#}
            <th>
                {{ key }}
            </th>
            <th>
                {{ values }}
            </tr>
        </tr>
        {% endfor %}
    </table>
</body>
</html>